body {
    margin: 0px;
    height: 100vh;
    background-color: rgb(253, 239, 224);
}

.title {
    color: rgb(107, 56, 56);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: 45px;
    padding: 30px;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

/* Sidebar selection styling */

.selection-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 30px;
    background-color: rgb(255, 249, 242);
    border-radius: 6px;
    box-shadow: 0px 3px 5px 5px  rgb(253, 191, 124);
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.grid-size {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

/* Grid styling */

.grid-wrapper {
    box-shadow: 0px 3px 5px 5px  rgb(253, 191, 124);
}

.grid-row {
    width: 512px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.draw-box {
    display: inline-block;
    background-color: white;
}

/* Sidebar selection button styling */

.button {
    color: rgb(66, 46, 46);
    background-color:rgb(250, 236, 234);
    border: solid 2px rgb(107, 77, 77);
    border-radius: 6px;
    margin: 3px;
    text-align: center;
}

.grid-picker.button {
    width: 25px;
    padding: 5px;
}

.color-picker.button, .clear.button {
    width: 75px;
    padding: 5px;  
}

.clear.button {
    margin-top: 30px;
}

.button.selected {
    color:rgb(252, 210, 210);
    background-color: rgb(182, 68, 68);
}

/* Cell sizes for each grid size */

.sixteen .grid-row .draw-box {
    width: 32px;
    height: 32px;
}
.thirty-two .grid-row .draw-box {
    width: 16px;
    height: 16px;
}

.sixty-four .grid-row .draw-box {
    width: 8px;
    height: 8px;
}